@page "/buildpc"

@* <style>
    body {
        margin: 0;
        padding: 0;
        background-image: url(_content/Example.WebComponents/buildpcbg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style> *@

<div class="container">
    <div class="row justify-content-center">
        <div class="card col-12 col-md-12 col-lg-8 p-5 border-danger bg-gradient shadow" style="border-radius:2rem;">
            <div class="card-wrapper">
                <div class="card-box align-center">
                    <h1 class="card-title mbr-fonts-style mb-4 display-1" style="font-family:'Arial Rounded MT'; font-weight:400; color: black;">
                        <strong>Ready to Build Your Dream PC?</strong>
                    </h1>
                    @* <div class="mbr-section-btn mt-4 text-left">
                    <a class="btn btn-warning display-6 rounded-pill font-weight-bold p-4" style="font-family:'Arial Rounded MT'; font-size:25px; font-weight:600">Get Started</a>
                    </div> *@
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shadow" style="width: 18rem; border-radius: 2rem;">
                <div class="container p-4">
                    <img src="_content/Example.WebComponents/Images/prebuilt.webp" class="card-img-top" alt="...">
                </div>
                <div class="card-body m-2">
                    <h5 class="card-title">Pre-Builts</h5>
                    <p class="card-text">Choose from pre-built configurations</p>

                    <a href="#" target="_blank" class="btn btn-primary m-1">Buy</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container col-auto m-auto">
    <div class="row justify-content-center p-0 me-auto">
        <div class="col-md-3">
            <div class="shadow" style="width: 18rem; border-radius: 2rem;">
                <div class="container p-4">
                    <img src="_content/Example.WebComponents/Images/motherboard.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body m-2">
                    <h5 class="card-title">Motherboard</h5>
                    <p class="card-text">Choose your desired Motherboard</p>

                    <a href="#" target="_blank" class="btn btn-primary m-1">Select</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shadow" style="width: 18rem; border-radius: 2rem;">
                <div class="container p-4">
                    <img src="_content/Example.WebComponents/Images/processor.jpg" class="card-img-top " alt="...">
                </div>
                <div class="card-body m-2">
                    <h5 class="card-title">Processor</h5>
                    <p class="card-text">Choose your desired Processor</p>

                    <a href="#" target="_blank" class="btn btn-primary m-1">Select</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shadow" style="width: 18rem; border-radius: 2rem;">
                <div class="container p-4">
                    <img src="_content/Example.WebComponents/Images/gpu.jpg" class="card-img-top " alt="...">
                </div>
                <div class="card-body m-2">
                    <h5 class="card-title">Graphics Card</h5>
                    <p class="card-text">Choose your desired GPU</p>

                    <a href="#" target="_blank" class="btn btn-primary m-1">Select</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shadow" style="width: 18rem; border-radius: 2rem;">
                <div class="container p-4">
                    <img src="_content/Example.WebComponents/Images/case.jpg" class="card-img-top " alt="...">
                </div>
                <div class="card-body m-2">
                    <h5 class="card-title">Gaming Case</h5>
                    <p class="card-text">Choose your desired Case</p>

                    <a href="#" target="_blank" class="btn btn-primary m-1">Select</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shadow" style="width: 18rem; border-radius: 2rem;">
                <div class="container p-4">
                    <img src="_content/Example.WebComponents/Images/ram.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body m-2">
                    <h5 class="card-title">Memory</h5>
                    <p class="card-text">Choose your desired Memory</p>

                    <a href="#" target="_blank" class="btn btn-primary m-1">Select</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shadow" style="width: 18rem; border-radius: 2rem;">
                <div class="container p-4">
                    <img src="_content/Example.WebComponents/Images/ssd.jpg" class="card-img-top " alt="...">
                </div>
                <div class="card-body m-2">
                    <h5 class="card-title">Storage</h5>
                    <p class="card-text">Choose your desired Storage</p>

                    <a href="#" target="_blank" class="btn btn-primary m-1">Select</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shadow" style="width: 18rem; border-radius: 2rem;">
                <div class="container p-4">
                    <img src="_content/Example.WebComponents/Images/psu.jpg" class="card-img-top " alt="...">
                </div>
                <div class="card-body m-2">
                    <h5 class="card-title">Power Supply</h5>
                    <p class="card-text">Choose your desired PSU</p>

                    <a href="#" target="_blank" class="btn btn-primary m-1">Select</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shadow" style="width: 18rem; border-radius: 2rem;">
                <div class="container p-4">
                    <img src="_content/Example.WebComponents/Images/cooler.jpg" class="card-img-top " alt="...">
                </div>
                <div class="card-body m-2">
                    <h5 class="card-title">Cooler</h5>
                    <p class="card-text">Choose your desired Fans</p>

                    <a href="#" target="_blank" class="btn btn-primary m-1">Select</a>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    
}
